<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app2_htmlpage</title>
    <style>
        *{
            background-color: black;
            color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <center>
        <marquee behavior="scroll" direction="" scrollamount="20" width="50%">
            <h1 style="color : red">This is {{name}}</h1>
        </marquee>
        <h1>This is rendering from {{loc}}</h1>
    </center>
</body>
</html>